<% provide(:title, "Grapedia") %>
  <% provide(:body_class, " ") %>
    <!--Start Search Section-->
    <section class="search-section">
      <div class="container-fluid background-image san-franc">
        <div class="container">
          <div>
            <div class="heading-container col-centered col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <span class="wow pulse" style="visibility: visible; animation-iteration-count: 3; animation-name: pulse;" data-wow-duration="0.15">Search our grape and wine list</span>
            </div>
          </div>
          <div>
            <div class="search-field-container col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <%= form_for(:search_form, url:search_path, :method => 'get') do |f| %>
                <div class="search-wrapper">
                  <span class="search_icon"></span>
                  <%= text_field_tag :search, '', placeholder: "Search by name", class:"search_field_input" %>
                    <select name="search_select" id="search_select">
                      <option>Wine</option>
                      <option>Grape</option>
                    </select>
                    <%= f.submit 'Search', class: "search_button sf" %>
                </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="container-fluid city-explore-container">
      <div class="container">
        <div>
          <div class="ready-to-explore-container">
            <div class="text-container col-centered col-md-8 col-xs-12 col-lg-8 col-sm-12">
              <div class="question-container">Ready to Explore the Grape?</div>
              <div class="guide-container">Download Our Best of Wind Guide</div>
              <div class="link-container"><a class="sf" href="#"></a></div>
            </div>
          </div>
        </div>
      </div> -->

      </div>
    </section>

    <!--Places Section-->
    <section class="places-section">
      <div class="container">
        <div class="wine">
          <div class="col-md-6 wine_inner " style="visibility: visible; ">
            <div class="week">
              <%= link_to '', wine_week_path, class: 'place-link' %>
                <div class="icons text-center">
                  <img src="/assets/glass.png" width="23%" alt="">
                  <h3>WINE OF THE WEEK</h3>
                  <p class="text-center">Lorem Ipsum is simply dummy text
                    <br> of the printing and typesetting industry</p>
                </div>
            </div>
          </div>
          <div class="col-md-6 " style="visibility: visible; ">
            <div class="week">
              <%= link_to '', grape_week_path, class: 'place-link' %>
                <div class="icons text-center">
                  <img src="/assets/grape.png" width="16%" alt="">
                  <h3>GRAPES OF THE WEEK</h3>
                  <p class="text-center">Lorem Ipsum is simply dummy text
                    <br> of the printing and typesetting industry</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="intro-section">
      <div class="container">
      <div class="col-sm-12">
     <div class="heading text-center ">
      <h2>Introduction to Our</h2>
    </div>
  </div>
</div>
<div class="container started_filling halfgraybg ">
      <div class="container ">

        <div class="col-md-6 col-sm-12 col-xs-12 inner_textp " >
          <div class="inner text-info-container ">
            <p>We have started filling our grape guide with Italian grapes, our friends at Italyabroad.com are helping us. Only Italy grows more than 1000 grapes and I will take us some time before we can list all of them and then move to the next country, so please be patient
For each grape you will find information on where the grape is grown, its history and characteristics and pairing suggestions and for each grape you will also find wines from different suppliers made with the grape. At the bottom of the page you will also see a comment form and please feel free to get in touch if you think we have forgotten something.</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 icons_col ">
          <div>
           <div class="icons_bar ">
            <div class="icon_img ">
              <img src="assets/icon.png " alt=" ">
            </div>
            <div class="contentdivicon ">We started as a grape guide but then, thanks to your comments and feedbacks, we decided to add a wine library</div>
          </div>
          </div>
          <div>
            <div class="icons_bar contentdiviconmidgap ">
            <div class="icon_img ">
              <img src="assets/icon2.png " alt=" ">
            </div>
            <div class="contentdivicon ">With regard to Italian wines, the first thing to say is the wine classifications </div>
          </div>
          </div>
          <div>
            <div class="icons_bar ">
            <div class="icon_img ">
              <img src="assets/icon3.png " alt=" ">
            </div>
            <div class="contentdivicon ">Wine are classified into DOCG, DOC, IGT and table wine. DOCG ......, DOC....., IGT....... and table wine........</div>
          </div>
          </div>
        </div>

        

      </div>
    </div>

</section>

  
  <!--End we make it easy section-->

  <!--Feature Section-->
<section class="feature-section ">
  <div class="container-fluid img-wrapper ">
    <div class="image-container ">
      <div class="info-container ">
        <div class="container ">
          <div class=" ">
            <div class="col-md-7 blackoverlay ">
            <div class="category-container ">Grapedia</div>
            <div class="title-container ">Best Grape & Wines</div>

              <div class="text-container ">Ever wonder how wine is made? Or why some bottles of wine are more expensive than others? Here's some information for you to better understand wine and what makes its cost
              </div>
              <div class="button-container ">
                <div class="read-more-container ">
                  <a href="# ">READ MORE</a>
                </div>
                <div class="social-container ">
                  <ul class="social-list ">
                    <li class="share-button "><a href="# "></a></li>
                    <li class="like-button "><a href="# "></a></li>
                    <li class="chat-container "><a href="# "></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--End of Feature Section-->

<!--Learn More Section  -->
<section class="learn-more-section ">
<div class="container">
        <div class="col-sm-12">
          <div class="heading text-center">
            <h2>Cheap vs. Expensiver</h2>
          </div>
        </div>
      </div>
      <div class="container started_filling halfwhitebg marbot100px">
        <div class="container mobnopadd">
          <div class="col-md-6 col-sm-12 col-xs-12 inner_textp mobpadd15px">
            <div class="progress-container">
              <ul class="progress-list">
                <li class="progress-item ">
                  <div class="icon-expert sf"></div>
                  <div class="progress-name-container">EXPERT OPINIONS</div>
                  <div class="progress-bar-wrapper">
                    <div class="progress-bar sf" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%;background:#218212;">
                      30%
                    </div>
                  </div>
                </li>
                <li class="progress-item ">
                  <div class="icon-awards sf"></div>
                  <div class="progress-name-container">PREVIOUS ACCOLADES</div>
                  <div class="progress-bar-wrapper">
                    <div class="progress-bar sf" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%;background:#218212;">
                      20%
                    </div>
                  </div>
                </li>
                <li class="progress-item ">
                  <div class="icon-phone sf"></div>
                  <div class="progress-name-container">OTHER DATA & STATS</div>
                  <div class="progress-bar-wrapper">
                    <div class="progress-bar sf" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%;background:#218212;">
                      50%
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 inner_textp  inner_para mobpadd15px">
            <div class="inner text-info-container why_are">
              <p>
                <strong>So</strong> why are some wines cheap, and others are more expensive? Cheap wines are stock-picked from the
                vineyards and processed by machinery. The grapes are often damaged or require large amounts of pesticides
                to help keep rot and decay at bay. Many preservatives are added, lowering sanitation standards and decreasing
                production costs. When you purchase a cheap bottle of wine, you are paying for pesticides, preservatives,
                and low quality grapes.
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!--End Learn More Section-->
    <!--Media section-->
    <!--End of Media section-->
    <!--City Guide Section-->

    <!--End of city guide -->