<% provide(:title, "Regions Page") %>
  <% provide(:body_class, "regions-page") %>
    <section class="region_section">

    <div class="container-fluid no-padding">
    <div class="banner-container region_banner">
        <div class="container">
            <div class="row">

            <div class="category-title col-xs-12 col-sm-12 col-lg-12">
            <span class="separator" style="margin-left: 20px;" >Top Regions |</span>
            <span class="date-container "></span>
        </div>
        <h1 class="places-container col-xs-12 col-sm-12 col-lg-12">Regions</h1>
    </div>

            </div>
        </div>
    </div>
</div>

    </section>
<!--region_country-->

<section class="learn-more-section">
        <div class="container mobnopadd listdetail">
            <div class="col-md-6 col-sm-12 col-xs-12  inner_textp mobpadd15px">
                <img src="assets/regions_sidehead.jpg" class="img-responsive" width="100%">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 milano_para">
                <div class="inner text-info-container">
                    <p>
                      <%= @region_detail.try(:description) %>
                    </p>
                    <div class="col-md-12 region_bg">
                    <ul>
              <% @regions && @regions.each do |region| %>
                <li class="col-sm-6 col-sm-6 col-xs-4">
              
                    <p>
                      <%= region %>
                    </p>
                  
    
                </li>
                <% end %>
                </ul>
            </div>
                </div>
              
            </div>
        </div>
    </section>

    <section class="regins_col">
    <div class="container">
    <div class="col-md-12 regins_col_head">
<div class="bortop1px"></div>
            <div class="col-md-6 regins_col_head">
                  <h3>Grapes</h3>
                  <div class="col-sm-6 nopadd">
                  <img class="img-responsive" src="/assets/grapes_head.jpg" alt="">  </div>
                  <div class="col-sm-6">
                  
                  <p><strong><%= @grape_detail.try(:name) %></strong></p>
                    <p class="readmoretext">
                      <%= @grape_detail.try(:long_des) %> 
                    </p>
                    <%= link_to "Read More", grapes_path %>
                  </div>
         
                </div>
                <div class="col-md-6 regins_col_head">
                    <h3> <%= @about_detail.try(:title) %> </h3>

                    <div class="col-sm-6 nopadd">
                    <img class="img-responsive" src="/assets/about_head.jpg" alt=""> 
                    </div>
                    <div class="col-sm-6">
                    <p class="readmoretext">
                        <%= @about_detail.try(:description) %>  </p>
                        <%= link_to "Read More", about_path %>
                    
                    </div>
                </div>


    <div class="col-md-12 from_our_blog">
    <h3> <%= @blog_detail.try(:title) %> </h3>
    <div class="col-sm-4 nopadd">
      <%= image_tag "/uploads/" + @blog_detail.pic , class: 'img-responsive', alt: @blog_detail.pic %>
    </div>
    <div class="col-sm-8">
      <p>
        <%= @blog_detail.try(:des) %> <%= link_to "Read More", blogs_path %>
      </p>
    </div>
        </div>
       
        
        </div>
    </div>
</section>
