<% provide(:body_class, "ranking-page") %>
<!--Start of Banner section-->
<section class="main-banner-section">
  <div class="container-fluid no-padding">
    <div class="banner-container">
      <div class="container">
        <div class="row">
          <div class="category-title col-xs-12 col-sm-12 col-lg-12">
            <span class="separator" style="margin-left: 20px;" >Top Blog |</span>
            <span class="date-container "><%= DateTime.now.strftime "%B %Y" %></span>
          </div>

          <h1 class="places-container col-xs-12 col-sm-12 col-lg-12">
            Grapes
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End of Banner section-->

<section class="learn-more-section">
  <% @grapes.each_with_index do |grape, index| %>
    <div class="container mobnopadd">
      <div class="col-md-6 col-sm-12 col-xs-12  inner_textp mobpadd15px">
        <a href="<%= grapes_path %>">
          <img src="uploads/<%= grape.pic %>" class="img-responsive">
        </a>
        <!-- <img src="assets/grap_bottal.jpg" class="img-responsive" width="100%"> -->
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 milano_para">
        <div class="inner text-info-container">
          <div class="header-section">
            <div class="number-container"><%= index+1 %></div>
            <div class="separator"></div>
            <div class="name-container">
              <div class="title-container"><%= set_title grape.name %></div>
            </div>
          </div>
          <span>
            <%= grape.long_des %>
          </span>
        </div>
        <div class="regins">
          <span>REGIONS : </span> 
          <% unless grape.regions == nil %>
            <span>
              <% grape.regions.split(',').each do |element| %>
                <a href="#"> <span><%= element %></span> </a>
              <% end %>
            </span>                
          <% end %>

          <span> SUPPLYER : </span> 
          <% unless grape.supply == nil %>
            <% grape.supply.split(',').each_with_index do |element,index| %>
              <a href="<%= grape.supply_url.split(',').fetch(index) %>"><%= element %>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>

<section class="regins_col">
  <div class="container">
    <div class="col-md-12 regins_col_head nopadd martop30px">
      <div class="bortop1px"></div>
        <div class="col-md-6 regins_col_head">
          <h3> <%= @region_detail.try(:title) %> </h3>

          <div class="col-sm-6 nopadd">
            <img class="img-responsive" src="/assets/regions_head.jpg" alt="">
          </div>
          <div class="col-sm-6">
            <p>
              <%= @region_detail.try(:description) %> <%= link_to "Read More", regions_path %>
            </p>
          </div>
        </div>

        <div class="col-md-6 regins_col_head">
          <h3> <%= @about_detail.try(:title) %> </h3>

          <div class="col-sm-6 nopadd">
            <img class="img-responsive" src="/assets/about_head.jpg" alt=""> 
          </div>
          <div class="col-sm-6">
            <p>
              <%= @about_detail.try(:description) %> <%= link_to "Read More", about_path %>
            </p>
          </div>
        </div>

        <div class="col-md-12 from_our_blog">
          <h3> <%= @blog_detail.try(:title) %> </h3>

          <div class="col-sm-4 nopadd">
            <%= image_tag "/uploads/" + @blog_detail.pic , class: 'img-responsive', alt: @blog_detail.pic %>
          </div>

          <div class="col-sm-8">
              <p>
                <%= @blog_detail.try(:des) %> <%= link_to "Read More", blogs_path %>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
