<% provide(:body_class, "ranking-page") %>
<!--Start of Banner section-->
<section class="main-banner-section">
    <div class="container-fluid no-padding">
        <div class="banner-container banner-container-wine">
            <div class="container">
                <div class="row">
                    <div class="category-title col-xs-12 col-sm-12 col-lg-12">
                        <span class="separator" style="margin-left: 20px;" >Top Wine |</span>
                        <span class="date-container "> <%= DateTime.now.strftime "%B %Y" %></span>
                    </div>
                    <h1 class="places-container col-xs-12 col-sm-12 col-lg-12">Wine</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Banner section-->
<!--Start of places list section-->

<section class="learn-more-section">
<% @wines.each_with_index do |wine, index| %>


    <div  class="container mobnopadd listdetail">
      <div class="col-md-6 col-sm-12 col-xs-12  inner_textp mobpadd15px  text-center paddtopbot25px">
     
      <img src="uploads/<%= wine.pic%>" class="listimgview">
  
         </div>
      <div class="col-md-6 col-sm-12 col-xs-12 milano_para">
        <div class="inner text-info-container">
          <div class="header-section">
            
            <div class="name-container">
              <div class="title-container"> <%= index+1 %> <%= set_title wine.name %></div>
            </div>
          </div>
          <span>
          <%= wine.long_des %>
          </span>
        </div>
        <div class="regins">
          <span>REGIONS : </span> 
          <% unless wine.regions == nil %>
          <% wine.regions.split(',').each do |element| %>
            <a href="#"><%= element %></a>
          <% end %>
      <% end %>

          <span> SUPPLYER : </span> 
          <% unless wine.supply == nil %>
          <% wine.supply.split(',').each_with_index do |element,index| %>
            <a href="<%= wine.supply_url.split(',').fetch(index) %>"><%=  element %>
            </a>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>


<section class="regins_col">
<div class="container">
<div class="col-md-12 regins_col_head nopadd martop30px">
<div class="bortop1px"></div>
        <div class="col-md-6 regins_col_head">
                <h3>Grapes</h3>
              <div class="col-sm-6 nopadd">
              <img class="img-responsive" src="/assets/grapes_head.jpg" alt="">  </div>
              <div class="col-sm-6">
              
              <p><strong><%= @grape_detail.try(:name) %></strong></p>
                <p class="readmoretext">
                  <%= @grape_detail.try(:long_des) %> 
                </p>
                <%= link_to "Read More", grapes_path %>
              </div>
     
            </div>
            <div class="col-md-6 regins_col_head">
                <h3> <%= @about_detail.try(:title) %> </h3>
                <div class="col-sm-6 nopadd">
                <img class="img-responsive" src="/assets/about_head.jpg" alt=""> 
                </div>
                <div class="col-sm-6">
                <p class="readmoretext">
                    <%= @about_detail.try(:description) %>
                  </p>
                  <%= link_to "Read More", about_path %>
                </div>
            </div>


<div class="col-md-12 from_our_blog">
  <h3> Blog </h3>
<div class="col-sm-4 nopadd">
  <%= image_tag "/uploads/" + @blog_detail.pic , class: 'img-responsive', alt: @blog_detail.pic %>
</div>

<div class="col-sm-8">
          <p><strong><%= @blog_detail.try(:title) %></strong></p>
              <p class="readmoretext">
                <%= @blog_detail.try(:des) %> <%= link_to "Read More", blogs_path %>
              </p>
              <a href="#">Read More</a>
          </div>

</div>
   
    
    </div>
</div>
</section>
