<% provide(:body_class, "ranking-page") %>
<!--Start of Banner section-->
<section class="main-banner-section">
    <div class="container-fluid no-padding">
        <div class="banner-container banner-container-wine">
            <div class="container">
                <div class="row">
                    <div class="category-title col-xs-12 col-sm-12 col-lg-12">
                        <span class="separator" style="margin-left: 20px;" >Top Wine |</span>
                        <span class="date-container "> <%= DateTime.now.strftime "%B %Y" %></span>
                    </div>
                    <h1 class="places-container col-xs-12 col-sm-12 col-lg-12">Wine</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Banner section-->
<!--Start of places list section-->
<section class="places-list-section">
    <% @wines.each_with_index do |wine, index| %>
    <div class="place-container container no-padding">
              <div class="col-md-3 no-padding">
                <a href="<%= wines_path%>">
                    <img src="uploads/<%= wine.pic%>" class="img-responsive">
                </a>
            </div>

              <div class="col-md-8 col-sm-12 col-xs-12 info-container">
                <div class="header-section">
                  <div class="number-container"><%= index+1 %></div>
                  <div class="separator"></div>
                  <div class="name-container">
                    <div class="title-container"><%= set_title wine.name %></div>
                  </div>
                </div>
              <div class="wine-long_description">
                <span>
                  <%= wine.long_des %>
                </span>
            </div>
            <div class="regins">
              <span>Regions:</span>
              <% unless wine.regions == nil %>
                  <% wine.regions.split(',').each do |element| %>
                    <a href="#"><%= element %></a>
                  <% end %>
              <% end %>

              <span>Supplyer:</span>
              <% unless wine.supply == nil %>
                <% wine.supply.split(',').each_with_index do |element,index| %>
                  <a href="<%= wine.supply_url.split(',').fetch(index) %>"><%=  element %>
                  </a>
                <% end %>
              <% end %>
            </div>
</div>
</div>
<!--end of place container-->                          
<% end %>    
</section>

<section class="regins_col">
<div class="container">
<div class="col-md-12 regins_col_head nopadd martop30px">
<div class="bortop1px"></div>
        <div class="col-md-6 regins_col_head">
                <h3><%= @grape_detail.try(:name) %></h3>
              <div class="col-sm-6 nopadd">
                <img src="uploads/<%= @grape_detail.pic %>" class="img-responsive">
              </div>
              <div class="col-sm-6">
                <p>
                  <%= @grape_detail.try(:short_des) %> <%= link_to "Read More", grapes_path %>
                </p>
              </div>
     
            </div>
            <div class="col-md-6 regins_col_head">
                <h3> <%= @about_detail.try(:title) %> </h3>
                <div class="col-sm-6 nopadd">
                <img class="img-responsive" src="/assets/about_head.jpg" alt=""> 
                </div>
                <div class="col-sm-6">
                  <p>
                    <%= @about_detail.try(:description) %> <%= link_to "Read More", about_path %>
                  </p>
                </div>
            </div>


<div class="col-md-12 from_our_blog">
  <h3> <%= @blog_detail.try(:title) %> </h3>
<div class="col-sm-4 nopadd">
  <%= image_tag "/uploads/" + @blog_detail.pic , class: 'img-responsive', alt: @blog_detail.pic %>
</div>

<div class="col-sm-8">
  <p>
    <%= @blog_detail.try(:des) %> <%= link_to "Read More", blogs_path %>
  </p>
</div>

</div>
   
    
    </div>
</div>
</section>
